vagrant:
  project-name: default-project-name
  project-root-dir: /var/
  machine-ip-address: 192.168.89.103
  box-name: ubuntu/bionic64

git:
  name: Firstname Lastname
  email: default-email@gmail.com
